<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss.SSS} %t [%p] %c{1} (%F:%L) - %msg%n"/>
        </Console>

        <RollingRandomAccessFile name="LocalFileAppender" fileName="logs/master.log"
                                 filePattern="logs/master.%d{yyyy-MM-dd}.log" append="true">
            <PatternLayout charset="UTF-8" pattern="%d{yyyy/MM/dd HH:mm:ss.SSS} %t [%p] %c{1} (%F:%L) %msg%n"/>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>
    </appenders>

    <loggers>
        <root level="info">
            <appender-ref ref="Console"/>
            <appender-ref ref="LocalFileAppender"/>
        </root>
    </loggers>
</configuration>